.div_01{
    background-color:rebeccapurple;
    height: 500;
    width: 300;
}
.div_02{
    background-attachment: fixed;
    bottom: 32;
    background-color: azure;
    height: 222;
    width: 500;
}